ol{
    background-color: aqua;
    width: 30px;
    color: black;
}
#li1{
   
    background-color: gray;
    width: 170px;
    
}

#li2{
    
    background-color: gray;
    width: 170px;
}
#li3{
    
    background-color: gray;
    width: 170px;
}
#li4{
    
    background-color: gray;
    width: 130px;
}