*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#parent{
    height: 90%;
    width: 90%;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: "header header ads"
                         "nav article article"
                         "nav footer footer";
    gap: 20px;
}

.divs{
    background-color: rgb(151, 220, 48);
    padding: 25px;
    font-size: 20px;
    font-weight: bold;

}


#header{
    grid-area: header;
}
#ads{
    grid-area: ads;
}
#nav{
    grid-area: nav;
}
#article{
    grid-area: article;
}
#footer{
    grid-area: footer;
}