div{
    text-align: end;
}

table{
    margin: auto;
    border-collapse:collapse;
    width:60%;
}

table, th, td{
    border: 1px solid black;
    text-align: start;
}

tr:nth-child(even){
    background-color: palevioletred;
}
