table{
    height: 400px;
    width: 600px;
    text-align: center;
    border: none;
    
}

th{
    background-color: rgb(114, 189, 39);
    border-top-left-radius: 5px;
    border-top-right-radius: 7px;
}
td{
    background-color: rgb(160, 219, 100);
    color: black;
    border-radius: 3px;
}
