body{
    background-color: brown;
    text-align: center;
}

.style1{
    background-color: blue;
    color: white;
    height: 20px;
    width: 70px;
    border-radius: 50px;
    border: none;
    font-size: large;
    text-align: center;
}

#style2{
    background-color: rgb(9, 255, 0);
    color: rgb(0, 0, 0);
    height: 20px;
    width: 200px;
    border-radius: 50px;
    border: none;
}