*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.alo{
    height: 300px;
    width: 300px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}


@media (max-width: 600px) {
    .alo{
        background-color: green;
        color: blue;
    }

}